/* global styles  */
* {
  border: red solid 0.5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --base-color: rgb(250, 192, 148);
  --base-dark: rgba(252, 195, 145);
  --accent-color: pink;
  --font-light: rgb(238, 225, 225);
  --font-dark: rgb(88, 67, 67);
  --main-font: "Bricolage Grotesque", sans-serif;
}

body {
  display: flex;
  /* add flex */
  flex-direction: column;
  font-family: var(--main-font);
  color: var(--font-dark);
  justify-content: flex-start;
  background: linear-gradient(
    rgba(157, 197, 252, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
/* /typography */
* {
  font-size: 62.5%;
}
/* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */

h1,
h2,
h3 {
  margin-bottom: 0.625rem;
  color: var(--font-dark);
  font-weight: 700;
  line-height: 1.1;
}
h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

/* header / title / photo styles*/
header {
  background: var(--accent-color);
  display:flex;
  justify-content: flex-end;
}
.links-all {
  display: flex;
  flex-direction: row;
}
.links-all li {
  font-size: 2rem;
  list-style: none;
  padding: 10px 20px;
  color: var(--font-dark);
  transition: ease-in-out 0.25s;
}

li:hover {
  box-shadow: inset 0px 0px 8px var(--font-light), 0 0 15px var(--font-dark);
}
/* under header */
.pic {
  display: block;
  width: 25%;
  margin-top: -25px;
}
.name-and-photo {
  display: flex;
  justify-content: space-between;
}
.name {
  font-size: 8rem;
  width: 600px;
  background-color: var(--base-dark);
  text-align: center;
  height: 100px;
}
/* main content */
/* portfolio links */
.projects {
  display: flex;
  justify-content:space-between;
}
.projects h2 {
  flex: 0 0 22%;
  min-height: 500px;
  text-align: right;
}
.projects div {
  flex: 0 0 75%;
  min-height: 500px;
}
.project-1 {
background-image:url("../images/IMG_3031.JPG");
min-height: 300px;
}


footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: var(--base-dark);
  color: var(--font-dark);
}
@media {
  xxxx
}